/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     margin-left: 10%;
     margin-top: 10%;
     margin-bottom: 10%;
}


/******************************************
/* LAYOUT
/*******************************************/

body{
    margin: 10%; 
}

img{
     display: block;
     margin: 0 auto;
     height: 100%;
     width: 60%;
   }
iframe{
     height: auto;
     width: auto;
     margin: 20%;
}

html{
     background-color: black;
     color: grey;
}   
input{
     background-color: grey;
}
button{
     background-color: grey;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
